[Desktop Entry]
Version=3.1.0
Name=Heritrix
Comment=Web Archiving Crawler
Exec=/home/dcic/heritrix-3.2.0/bin/heritrix
Icon=/home/dcic/heritrix-3.2.0/heritrix-logo.png
Terminal=true
Type=Application
Categories=Utility;Application;
