[Desktop Entry]
Version=3.1.0
Name=ePADD
Comment=Email archiving and access
Exec=java -Xmx4g -jar /home/dcic/epadd-standalone.jar
Icon=/home/dcic/epadd.png
Terminal=true
Type=Application
Categories=Utility;Application;
